extends layout
block content
    h1= title
    h2 You can login with username "Masterdagon" and password "cthulhu fhtagn". Everything else should hopefully fail.
    form(method='post')
        input(name="userName" placeholder="Username")
        input(name="password" placeholder="Password")
        input(type = 'submit')